<link rel="stylesheet" href="/css/home.css">
<br>
<h2>Trending</h2>
<ul class="list">
    <% items.forEach((item) => { %>
    <li>
      <a href="/anime/<%= item.id %>">
        <img src="https://media.kitsu.io/anime/poster_images/<%= item.id %>/tiny.jpg" alt=""><br>
        <%= item.attributes.canonicalTitle %> 
      </a>
    </li>
    <% }) %>
</ul>
<br>
<h1>./project_anime</h1>
<br>
<% if (user) { %>
<h2>Watching</h2>
<ul class="list">
  <% user.list.watching.forEach((item) => { %>
  <li>
    <a href="/anime/<%= item.id %>">
      <img src="https://media.kitsu.io/anime/poster_images/<%= item.id %>/tiny.jpg" alt=""><br>
      <%= item.attributes.canonicalTitle %> 
    </a>
  </li>
<% }) %>
</ul>
<% } %>
