<link rel="stylesheet" href="/css/profile.css">  
<h1>Profile</h1>
<h2> <%= user.username %></h2>
<ul class="lists">
  <li><p>Watched</p></li>
  <ul name="list">
    <% user.list.watched.forEach((item) => { %>
    <li>
      <img src="https://media.kitsu.io/anime/poster_images/<%= item.id %>/tiny.jpg" alt="">
      <a href="/anime/<%= item.id %>"> <%= item.attributes.canonicalTitle %> </a>
    </li>
    <% }) %>
  </ul>
  <li><p>Watching</p></li>
  <ul name="List">
    <% user.list.watching.forEach((item) => { %>
    <li>
      <img src="https://media.kitsu.io/anime/poster_images/<%= item.id %>/tiny.jpg" alt="">
      <a href="/anime/<%= item.id %>"> <%= item.attributes.canonicalTitle %> </a>
    </li>
    <% }) %>
  </ul>
  <li><p>Plan To Watch</p></li>
  <ul name="List">
    <% user.list.planToWatch.forEach((item) => { %>
    <li>
      <img src="https://media.kitsu.io/anime/poster_images/<%= item.id %>/tiny.jpg" alt="">
      <a href="/anime/<%= item.id %>"> <%= item.attributes.canonicalTitle %> </a>
    </li>
    <% }) %>
  </ul>
</ul>




