<link rel="stylesheet" href="/css/profile.css">  
<link rel="stylesheet" href="/css/list.css">
<h1>Profile</h1>
<h2> <%= user.username %></h2>
<ul class="lists">
  <li><p>Watched</p></li>
  <ul class="list">
    <% user.list.watched.forEach((item) => { %>
    <li>
      <a href="/anime/<%= item.id %>">
        <img src="https://media.kitsu.io/anime/poster_images/<%= item.id %>/tiny.jpg" alt=""><br>
        <p id="animeTitle"><%= item.attributes.canonicalTitle %></p> 
      </a>
      <!-- <a href="/anime/deleteList/<%= item.id %>/watched" id="deleteListBtn">Delete</a> -->
    </li>
    <% }) %>
  </ul>
  <li><p>Watching</p></li>
  <ul class="list">
    <% user.list.watching.forEach((item) => { %>
    <li>
      <a href="/anime/<%= item.id %>">
        <img src="https://media.kitsu.io/anime/poster_images/<%= item.id %>/tiny.jpg" alt=""><br>
        <p id="animeTitle"><%= item.attributes.canonicalTitle %></p>
      </a>
      <!-- <a href="/anime/deleteList/<%= item.id %>/watching" id="deleteListBtn">Delete</a> -->
    </li>
    <% }) %>
  </ul>
  <li><p>Plan To Watch</p></li>
  <ul class="list">
    <% user.list.planToWatch.forEach((item) => { %>
    <li>
      <a href="/anime/<%= item.id %>">
        <img src="https://media.kitsu.io/anime/poster_images/<%= item.id %>/tiny.jpg" alt=""><br>
        <p id="animeTitle"><%= item.attributes.canonicalTitle %></p> 
      </a>
      <!-- <a href="/anime/deleteList/<%= item.id %>/planToWatch" id="deleteListBtn">Delete</a> -->
    </li>
    <% }) %>
  </ul>
</ul>




