<h1 id="title"><%= item.attributes.canonicalTitle %></h1> <br>
<p id="subtype"><%= item.attributes.subtype %></p>
<p id="status"><%= item.attributes.status %></p>
<p id="ageRating">Rated: <%= item.attributes.ageRating %></p>
<p id="episodeCount">Episodes: <%= item.attributes.episodeCount %></p>
<h2 id="synopsisLabel">Synopsis</h2>
<h3 id="synopsis"><%= item.attributes.synopsis %></h3>
<h2 id="averageRatingLabel">Average Rating</h2>  
<h2 id="averageRating"><%= item.attributes.averageRating%></h2>

