<link rel="stylesheet" href="/css/anime.css" />
<div class="container">
  <h1 id="title"><%= item.attributes.canonicalTitle %></h1>
  <br />
  <div class="anime">
    <img
      src="https://media.kitsu.io/anime/poster_images/<%= item.id %>/small.jpg"
      alt=""
    />
    <ul>
      <li>
        <div class="rating">
          <h2 id="averageRatingLabel">Average Rating</h2>
          <h2 id="averageRating"><%= item.attributes.averageRating%></h2>
        </div>
      </li>
      <li>
        <div class="animeDetails">
          <p id="subtype"><%= item.attributes.subtype %></p>
          <p id="status"><%= item.attributes.status %></p>
          <p id="ageRating">Rated: <%= item.attributes.ageRating %></p>
          <p id="episodeCount">Episodes: <%= item.attributes.episodeCount %></p>
        </div>
      </li>
      <li>
        <% if (currentUser) { %>
        <butn onclick="myFunction()" class="addListbtn">Add to List</butn>
        <div id="addListDrop" class="addListDrop-item">
          <a href="/anime/addList/<%= item.id %>/watched">Watched</a>
          <a href="/anime/addList/<%= item.id %>/watching">Watching</a>
          <a href="/anime/addList/<%= item.id %>/planToWatch">Plan To Watch</a>
        </div>
        <% } %>
      </li>
      <br>
      <li id="friends">
        <% if (user) { %>
          <% let show = false; %>
          <% friends.forEach((friend) => { %>
            <% for (let i = 0; i < friend.list.watched.length; i++) { %>
              <% if (friend.list.watched[i].id === item.id) { %>
                <a href="/user/friendProfile/<%= friend._id %>"><%= friend.username %></a>
                <% show = true; %>
              <% } %>
            <% } %>
          <% }) %>
          <% if (show) { %>
          <p> watched this!</p>
          <% } %>
        <% } %>
      </li>
      <li id="friends">
        <% if (user) { %>
          <% let show = false; %>
          <% friends.forEach((friend) => { %>
            <% for (let i = 0; i < friend.list.watching.length; i++) { %>
              <% if (friend.list.watching[i].id === item.id) { %>
                <a href="/user/friendProfile/<%= friend._id %>"><%= friend.username %></a>
                <% show = true; %>
              <% } %>
            <% } %>
          <% }) %>
          <% if (show) { %>
          <p> is watching this anime!</p>
          <% } %>
        <% } %>
      </li>
      <li id="friends">
        <% if (user) { %>
          <% let show = false; %>
          <% friends.forEach((friend) => { %>
            <% for (let i = 0; i < friend.list.planToWatch.length; i++) { %>
              <% if (friend.list.planToWatch[i].id === item.id) { %>
                <a href="/user/friendProfile/<%= friend._id %>"><%= friend.username %></a>
                <% show = true; %>
              <% } %>
            <% } %>
          <% }) %>
          <% if (show) { %>
          <p> is planning to watch this anime!</p>
          <% } %>
        <% } %>
      </li>
    </ul>
  </div>

  <h2 id="synopsisLabel">Synopsis</h2>
  <h3 id="synopsis"><%= item.attributes.synopsis %></h3>
</div>

<h3>comments</h3>
<form action="/comment/<%= item.id %>" method="post">
  <input type="text" name="content" />
  <button type="submit">submit</button>
</form>

<ul>
  <% console.log(comments) %>
  <% if (comments.length) { %>
    <% comments.forEach(comment => { %>
    <li><%= comment.content %> by <%= comment.author.username %></li>
    <% }) %>
  <% } %>
</ul>

<script>
  const x = 0;

  function myFunction() {
    document.getElementById("addListDrop").classList.toggle("show");
  }
</script>
